<br><br><br><br>

<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #turnoForm="ngForm" style="margin-left: 25%; margin-right: 25%; ">
        <div class="form-group" >
            <a style="padding: 5px 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border-radius: 15px; font-weight: 600;" class="btn btn-primary" href="/turno">↺⠀VOLVER</a>
          </div><br><br>
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label style="font-weight: 600;" class="control-label" for="tiempo">Tiempo Estimado</label>
            <input style="border-radius: 10px; border: 2px solid #cacaca;" type="text" class="form-control" required [(ngModel)]="turno.tiempEst" name="tiempo">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div class="col-sm-12">
            <label style="font-weight: 600;" class="control-label" for="numeroTurn">Numero De Turno</label>
            <input style="border-radius: 10px; border: 2px solid #cacaca;" type="number" class="form-control" required [(ngModel)]="turno.numeroTurn" name="numeroTurn">
          </div>
        </fieldset>
        <br>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button style="border-radius: 25px; padding: 7px 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 600;" type="submit" class="btn btn-primary" [disabled]="!turnoForm.form.valid">Enviar</button>
          </div>
        </div>
      </form> 
    </div>
  </div>
  
<br><br><br><br>
<br><br>
