<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #rolesForm="ngForm">
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="roles.nombre" name="nombre">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="descripcion">Descripción</label>
            <input type="text" class="form-control" required [(ngModel)]="roles.descripcion" name="descripcion">
          </div>
        </fieldset>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!rolesForm.form.valid">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  