<div>
    <h1>ㅤ</h1>
    <div class="blue-box">
      <div>
        <h1 class="title1">Registrarse</h1>
        <div class="section-divisor"></div>
      </div>
  
      <form (ngSubmit)="onSubmit()" #registrarForm="ngForm">
        <h4>ㅤ</h4>
        


        <fieldset class="form-group">
            <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
              <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="Documento" id="Documento" type="number" maxlength="10" placeholder="Documento (Max 10)" required [(ngModel)]="users.documento">
            </div>
          </fieldset>
        
        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <select class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; font-size: 20px; color: #cacaca;"  required [(ngModel)]="users.tipoDoc" name="tipo" id="tipo" >
              <option value="" selected disabled>Selecciona Tipo De Documento</option>
              <option value="CC">CC</option>
              <option value="TI">TI</option>
              <option value="Pasaporte">Pasaporte</option>
              <option value="NIT">NIT</option>
            </select>      
          </div>
        </fieldset>
        
        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="PrimerNombre" id="PrimerNombre" type="text" placeholder="1er Nombre" required [(ngModel)]="users.primerNombre">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="SegundoNombre" id="SegundoNombre" type="text" placeholder="2do Nombre" [(ngModel)]="users.segundoNombre">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="PrimerApellido" id="PrimerApellido" type="text" placeholder="1er Apellido" required [(ngModel)]="users.primerApellido">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="SegundoApellido" id="SegundoApellido" type="text" placeholder="2do Apellido" [(ngModel)]="users.segundoApellido">
          </div>
        </fieldset>
  
        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="Email" id="Email" type="email" placeholder="Email" required [(ngModel)]="users.email">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="Contrasena" id="Contrasena" type="password" placeholder="Contraseña" required [(ngModel)]="users.password">
          </div>
        </fieldset>

        <fieldset class="form-group">
          <div style="border: 1px solid #ccc; border-radius: 20px; padding: 5px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
            <input class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; " name="Numero" id="Numero" type="number" maxlength="10" placeholder="Número Telefónico" required [(ngModel)]="users.numero">
          </div>
        </fieldset>
  
        <div class="form-group mt-3">
          <button type="submit" class="button button-contactForm boxed-btn" style="border-radius: 20px;" [disabled]="!registrarForm.form.valid">Registrarse</button>
        </div>
      </form>
    </div>
  </div>