
<body>
    <div class="containerMedico">

        <div class="sidebar close" style="width: 6%;">
            <ul class="nav-list" >
                <li><br>
                    <a href="/medico-home-2">
                        <img class="imageMedico" src="../../../../assets/images/homeMedico.png" alt="" style="width: 45px; text-align: center; margin-left: 29%;">
                    </a><br>

                    <ul class="sub-menu blank">
                        <li><a href="/medico-home-2" class="link-name">Home</a></li>
                    </ul>
                </li>
                <div>
                    <h3 style="color: #fff; margin-top: -15px; text-align: center;">___</h3>
                </div>
                <li><br>
                    <a href="/medico-citas">
                        <img class="imageMedico" src="../../../../assets/images/citas-medico.png" alt="" style="width: 45px; text-align: center; margin-left: 29%;">
                    </a><br>

                    <ul class="sub-menu blank">
                        <li><a href="/medico-citas" class="link-name">Citas</a></li>
                    </ul>
                </li>
                <div>
                    <h3 style="color: #fff; margin-top: -15px; text-align: center;">___</h3>
                </div>
                <li><br>
                    <a href="/medico-pacientes">
                        <img class="imageMedico" src="../../../../assets/images/users-medico.png" alt="" style="width: 45px; text-align: center; margin-left: 29%;">
                    </a><br>
    
                    <ul class="sub-menu blank">
                        <li><a href="/medico-pacientes" class="link-name">Pacientes</a></li>
                    </ul>
                </li>
                <div>
                    <h3 style="color: #fff; margin-top: -15px; text-align: center;">___</h3>
                </div>
                <li><br>
                    <a href="/medico-home-2">
                        <img class="imageMedico" src="../../../../assets/images/agenda-medico.png" alt="" style="width: 45px; text-align: center; margin-left: 29%;">
                    </a><br>

                    <ul class="sub-menu blank">
                        <li><a href="/medico-home-2" class="link-name">Agenda</a></li>
                    </ul>
                </li>
                <div>
                    <h3 style="color: #fff; margin-top: -15px; text-align: center;">___</h3>
                </div>
                <li><br>
                    <a href="/medico-home-2">
                        <img class="imageMedico" src="../../../../assets/images/examenes-medico.png" alt="" style="width: 45px; text-align: center; margin-left: 29%;">
                    </a><br>

                    <ul class="sub-menu blank">
                        <li><a href="/medico-home-2" class="link-name">Examenes</a></li>
                    </ul>
                </li>
                <div>
                    <h3 style="color: #fff; margin-top: -15px; text-align: center;">___</h3>
                </div>
                <li><br>
                    <a href="/medico-home-2">
                        <img class="imageMedico" src="../../../../assets/images/ordenes-medico.png" alt="" style="width: 45px; text-align: center; margin-left: 29%;">
                    </a><br>

                    <ul class="sub-menu blank">
                        <li><a href="/medico-home-2" class="link-name">Ordenes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="contentMedico">
            <div style="display: flex; justify-content: flex-end; width: 100%;">
                <a href="/index">
                    <button class="button button-contactForm boxed-btn5" style="padding: 7px 20px; font-size: 12px;">Cerrar Sesión</button>
                </a>
            </div>  
            
            <div class="our_department_area">
                <div class="container">
                    <div class="row">
                        <div class="welcomeTitle" style="text-align: center;">
                            <h1>¡¡Bienvenido Dr. {{ userInfo.primerNombre }}!!</h1>
                            <p>Revisa Y Administra Tus Citas Medicas.</p>
                        </div> 
                        
                        <div class="col-xl-6 col-md-6 col-lg-4">
                            <div class="single_department">
                                <div class="department_thumb" style="width: 55%; margin-left: 22%;">
                                    <a href="/registrar-citas-medico"><img src="../../../../assets/images/registrar.png" alt=""></a>
                                </div>
                                <div class="department_content">
                                    <h3><a style="margin-left: 15%; font-weight: 600; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" href="/registrar-citas-medico">Registrar</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-lg-4">
                            <div class="single_department">
                                <div class="department_thumb" style="width: 55%; margin-left: 22%;">
                                    <a href="/editar-consultar-citas-medico"><img src="../../../../assets/images/editarr.png" alt=""></a>
                                </div>
                                <div class="department_content">
                                    <h3 ><a style="margin-left: 15%; font-weight: 600; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" href="/editar-consultar-citas-medico">Editar Cita</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="background-color: rgb(255, 255, 255); margin-top: -50px;">
                <div>
                    <table class="table table-striped table-responsive" style="width: 100%; margin: 0 auto; border-collapse: separate; border-spacing: 0; margin-top: 100px;">
                        <div class="welcomeTitle" style="text-align: center; ">
                            <h2 style="font-weight: 600; color: rgb(52, 52, 52);">Tus Citas Medicas</h2>
                        </div> 
                        <thead>
                            <tr>
                                <th style="padding: 15px; text-align: center; background-color: #0063cc68; color: #fff; border-top-left-radius: 10px;">Fecha</th>
                                <th style="padding: 15px; text-align: center; background-color: #0063cc68; color: #fff;">Hora</th>
                                <th style="padding: 15px; text-align: center; background-color: #0063cc68; color: #fff;">Paciente</th>
                                <th style="padding: 15px; text-align: center; background-color: #0063cc68; color: #fff;">Médico</th>
                                <th style="padding: 15px; text-align: center; background-color: #0063cc68; color: #fff;">Especialidad</th>
                                <th style="padding: 15px; text-align: center; background-color: #0063cc68; color: #fff;">Facturacion</th>
                                <th style="padding: 15px; text-align: center; background-color: #0063cc68; color: #fff; border-top-right-radius: 10px;">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cita of citasMed">
                                <td style="padding: 12px; text-align: center;">{{ cita.fecha }}</td>
                                <td style="padding: 12px; text-align: center;">{{ cita.hora }}</td>
                                <td style="padding: 12px; text-align: center;">{{ cita.paciente }}</td>
                                <td style="padding: 12px; text-align: center;">{{ cita.medico }}</td>
                                <td style="padding: 12px; text-align: center;">{{ cita.especialidad }}</td>
                                <td style="padding: 12px; text-align: center;" [ngClass]="{'facturacion-pendiente': cita.facturacion === 'pendiente', 'facturacion-pagada': cita.facturacion === 'pagada'}">{{ cita.facturacion }}</td>
                                <td style="padding: 12px; text-align: center;" [ngClass]="{'estado-pendiente': cita.estado === 'pendiente', 'estado-cancelada': cita.estado === 'cancelada', 'estado-confirmada': cita.estado === 'confirmada'}">{{ cita.estado }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        

        <div class="infoMedico">    
            <div class="clockMedico" style="overflow: auto;">
            <div class="clockWrapper" style="text-align: center; margin: 10px;">
                <div class="digit">{{ hour }}</div>
                <div class="colon">:</div>
                <div class="digit">{{ minute }}</div>
                <div class="colon">:</div>
                <div class="digit">{{ second }}s</div>
            </div>
            </div><br>
            <div class="infoMedicoContent" style="text-align: left;">
                <p style="font-weight: 600;">Información del Médico:</p>
                <p>{{ userInfo.primerNombre }} {{ userInfo.segundoNombre }}</p>
                <p>{{ userInfo.primerApellido }} {{ userInfo.segundoApellido }}</p>
                <p>{{ userInfo.email }}</p>
                <p>{{ userInfo.especialidad }}</p>
            </div>
            
            
            <br>
            <div class="additional-infoMedico" style="overflow: auto;">
                <div class="iframeMedico">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.041526618038!2d-122.14301908582862!3d37.42257507979185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085806a58f70c27%3A0xd1a9227a8f5f693f!2sGolden%20Gate%20Bridge!5e0!3m2!1sen!2sus!4v1646208913084!5m2!1sen!2sus" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div><br><br>
                <div class="media-body">
                    <h5>Colombia - Bogotá</h5>
                    <p>{{ userInfo.sede }}</p>
                </div><br>
                <div class="media-body">
                    <h5>{{ userInfo.numero }}</h5>
                    <p>De Lunes A Domingo De 6am A 11pm</p>
                </div><br>
                <div class="media-body">
                    <h5>NovaEPS@gmail.com</h5>
                    <p>Envíenos su consulta en cualquier momento!</p>
                </div>      
            </div>
            
        </div>
    </div>

  </body>