<br>
<h2 class="title1">Iniciar Sesión</h2>
<div class="section-divisor"></div>

<div class="rectangles-container">
  <div class="rectangle" style="background-color: #009DFF; border-radius: 30px 0 30px 0; text-align: center; color: black; margin-top: -35px; width: 100%;">
    <a href="#" class="Title3">Cuenta Individual</a>
  </div>
  <div class="rectangle" style="background-color: #fff; border-radius: 0 30px 0 0; text-align: center; margin-top: -35px; border-top: 2px solid #909090; width: 100%;">
    <a href="#" class="Title2">Cuenta Administrativa</a>
  </div>
</div>

<div class="blue-box2" style="border-radius: 0 0 10px 10px; box-shadow: 4px 4px 4px 2px rgb(142, 142, 142); margin-top: -21.5px; background-color: transparent;">
  
  <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
    <h4>ㅤ</h4>

    <div style="border: 1px solid #ccc; border-radius: 20px; padding: 10px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
      <label class="labelCitaBuscar" for="correo" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #969696;">
        Ingrese Su Nombre De Usuario
      </label>
      <input type="text" id="correo" formControlName="correo" placeholder="Usuario" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px;">
    </div>
    <br>
    <div style="border: 1px solid #ccc; border-radius: 20px; padding: 10px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
      <label class="labelCitaBuscar" for="contrasena" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #969696;">
        Ingrese Su Contraseña
      </label>
      <input type="password" id="contrasena" formControlName="contrasena" placeholder="Contraseña" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px;">
    </div>
    <br>
    <div class="ContBoton">
      <button type="submit" [disabled]="loginForm.invalid" class="buttonLogin">
        Ingresar
      </button>
    </div>
    <h4>ㅤ</h4>
    <h2 class="not-cuenta">
      <a href="../registrar">¿Aún No Tienes Cuenta?</a>
    </h2>
    <div class="ContBoton">
      <a href="../registrar" class="buttonLogin3">Regístrate</a>
    </div>
    <h4>ㅤ</h4>
  </form>
</div>
