<h2 class="title1">Iniciar Sesión</h2>
<div class="section-divisor"></div>

<div class="blue-box2" style="border-radius: 0 0 10px 10px; box-shadow: 4px 4px 4px 2px rgb(142, 142, 142); margin-top: -21.5px; background-color: transparent;">

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div *ngIf="showAlert" class="alert alert-danger" role="alert">
      Los datos ingresados no son válidos. Por favor, verifica e intenta nuevamente.
    </div>
    
    <div style="border: 1px solid #ccc; border-radius: 20px; padding: 10px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
      <label class="labelCitaBuscar" for="email" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #969696;">
        Ingrese Su Correo Electronico
      </label>
      <input type="text" id="email" formControlName="email" placeholder="Email" class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; ">
    </div>
    <br>
    <div style="border: 1px solid #ccc; border-radius: 20px; padding: 10px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);">
      <label class="labelCitaBuscar" for="password" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #969696;">
        Ingrese Su Password
      </label>
      <input type="password" id="password" formControlName="password" placeholder="Password" class="placeholderUsers" style="padding: 18px; border: none; width: 100%; font-size: 14px; margin-top: 5px; ">
    </div>
    <br>
    <div class="ContBoton">
      <button type="submit" class="buttonLogin">
        <a style="text-decoration: none; color: #e3e3e3;">Ingresar</a>
      </button>
    </div>
    <h4>ㅤ</h4>
    <h2 class="not-cuenta">
      <a style="text-decoration: none;" href="/users/agregar">¿Aún No Tienes Cuenta?</a>
    </h2>
    <div class="ContBoton">
      <a style="text-decoration: none;" href="/users/agregar" class="buttonLogin3">Regístrate</a>
    </div>
    <h4>ㅤ</h4>
  </form>
</div>
