<br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="form-inline">
        <div class="form-group">
        </div>
        <div class="form-group" >
          <a style="padding: 5px 45px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" class="btn btn-primary" [routerLink]="['/turno/agregar']">Agregar Turno Medico</a>
        </div>
      </form>
      <br>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><strong>ID</strong></th>
                <th scope="col"><strong>Tiempo Estimado</strong></th>
                <th scope="col"><strong>Numero De Turno</strong></th>
                <th scope="col"><strong>Acciones</strong></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let turno of turno | async">
                <tr>
                  <td><i>{{ turno.idturnoMedico }}</i></td>
                  <td><i>{{ turno.tiempEst }} min</i></td>
                  <td><i>{{ turno.numeroTurn }}</i></td>
                  <td>
                    <div class="form-group">
                      <a class="btn btn-info" [routerLink]="['/turno/editar/', turno.idturnoMedico]">Editar</a>⠀
                      <a class="btn btn-danger" (click)="borrarTurno(turno.idturnoMedico)">Borrar</a>

                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br>
