<div class="row">
    <div class="col-sm-8 offset-sm-2"><br><br><br>
        <div>
            <a href="/editar-consultar-usuarios">
                <div class="container">
                    <button class="boton-admin">↺ Atrás</button>
                </div>
            </a>          
        </div><br>
        <form #usersForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="usersForm" style="border: 2px solid #9e9e9e; border-radius: 10px">
            
            <h4>ㅤ</h4>
                <div style="margin: 15px;">
                    <div style="margin-right: 5px;">
                        <label class="labelCitaBuscar" for="tipo_documento" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            Tipo de documento
                        </label>
                        <select class="selectLogin" required [(ngModel)]="usuarios.tipo" name="tipo" id="tipo_documento"  style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            <option value="" selected disabled>Selecciona Tipo De Documento</option>
                            <option value="CC">CC</option>
                            <option value="TI">TI</option>
                            <option value="Pasaporte">Pasaporte</option>
                            <option value="NIT">NIT</option>
                        </select>
                     </div>
                     <div style="margin-right: 5px;">
                        <label class="labelCitaBuscar" for="documento" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            Numero De Documento
                        </label>
                        <div style="display: flex; align-items: center;">
                            <div style="flex-grow: 1; margin-right: 10px; font-size: 18px; font-weight: 500;">
                                ㅤ{{ usuarios.documento }}
                            </div>
                        </div>
                    </div><br>
        
                    <div style="margin-right: 5px; margin-top: -5px;">
                        <label class="labelCitaBuscar" for="primerNombre" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            1er Nombre 
                        </label>
                        <input class="selectLogin" name="primerNombre" id="primerNombre" type="text" placeholder = '1er Nombre' required [(ngModel)]="usuarios.primerNombre" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                    </div>
        
                    <div style="margin-right: 5px; margin-top: -5px;">
                        <label class="labelCitaBuscar" for="segundoNombre" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            2do Nombre 
                        </label>
                        <input class="selectLogin" name="segundoNombre" id="segundoNombre" type="text" placeholder = '2do Nombre' required [(ngModel)]="usuarios.segundoNombre" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                    </div>
                    
                    <div style="margin-right: 5px; margin-top: -5px;">
                        <label class="labelCitaBuscar" for="primerApellido" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            1er Apellido
                        </label>
                        <input class="selectLogin" name="primerApellido" id="primerApellido" type="text" placeholder = '1er Apellido' required [(ngModel)]="usuarios.primerApellido" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                    </div>
        
                    <div style="margin-right: 5px;">
                        <label class="labelCitaBuscar" for="segundoApellido" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            2do Apellido
                        </label>
                        <input class="selectLogin" name="segundoApellido" id="segundoApellido" type="text" placeholder = '2do Apellido'required [(ngModel)]="usuarios.segundoApellido" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                    </div>
        
                    <div style="margin-right: 5px; margin-top: -5px;">
                        <label class="labelCitaBuscar" for="email" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            Email
                        </label>
                        <input class="selectLogin" name="email" id="email" type="email"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" placeholder = 'Email (ejemplo123@gmail.com)' required [(ngModel)]="usuarios.email" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                    </div>
                    
                    
                    <div style="margin-right: 5px; margin-top: -5px;">
                        <label class="labelCitaBuscar" for="numero" style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #101010;">
                            Numero
                        </label>
                        <input class="selectLogin" name="numero" id="numero" type="text" maxlength="10" placeholder="Nuemro Telefonico (Max 10)" required [(ngModel)]="usuarios.numero" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                    </div>

                    <div style="margin-right: 5px;">
                        <div style="margin-right: 5px;">
                            <select class="selectLogin" required [(ngModel)]="usuarios.rol" name="rol" id="rol" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                                <option value="" selected disabled>Selecciona El Rol</option>
                                <option *ngFor="let rol of rolesList" [ngValue]="rol.nombreRol">{{ rol.nombreRol }}</option>
                            </select>
                        </div>
                    </div>
                    <div style="margin-right: 5px;">
                        <div style="margin-right: 5px;">
                            <select class="selectLogin" required [(ngModel)]="usuarios.sede" name="sede" id="sede" style="display: block;margin: 0 auto;margin-bottom: 30px;padding: 8px;border-radius: 17px;width: 480px;color: rgb(14, 14, 14);background-color: rgb(255, 255, 255);padding: 12px; border: 1px solid #9e9e9e; border-radius: 15px; width: 100%; font-size: 20px;">
                                <option value="" selected disabled>Selecciona La Sede</option>
                                <option *ngFor="let sede of sedesList" [ngValue]="sede.nombreSede">{{ sede.nombreSede }}</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm boxed-btn" style="border-radius: 20px;" [disabled]="!usuariosForm.form.valid">Actualizar</button>
                    </div>
                </div>
        </form>
    </div>
  </div>
  