<br><div>
    <a href="/herramientas">
        <div class="container">
            <button class="boton-admin">↺ Atrás</button>
        </div>
    </a>          
</div>

<body>
    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Exámenes Médicos</h3>
                        <p>Los exámenes médicos te permiten obtener información precisa <br>
                            sobre la salud de los pacientes. Consulta los exámenes, registra <br>
                            nuevos exámenes, actualiza detalles y, si es necesario, elimina exámenes <br>
                            para mantener todo organizado.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/consultar-examenes">
                                <img src="../../../../../assets/images/consultar-examen.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/consultar-examenes">Consultar Exámenes</a></h3>
                            <p>Verifica los exámenes médicos registrados.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/registrar-examenes">
                                <img src="../../../../../assets/images/registrar-examen.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/registrar-examenes">Registrar Examen</a></h3>
                            <p>Registra nuevos exámenes médicos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb" style="max-width: 50%; margin: 0 auto;">
                            <a routerLink="/editar-consultar-examenes">
                                <img src="../../../../../assets/images/editar-examen.png" alt="" class="service_image" style="max-width: 100%; height: auto; background-color: transparent;">
                            </a>
                        </div>
                        <div class="department_content">
                            <h3><a routerLink="/editar-consultar-examenes">Editar Examen</a></h3>
                            <p>Actualiza o elimina los detalles de un examen existente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
